{{> navbar }}
<h2>Register</h2>
{{> message}}
<form action="/users/register" method="post">
  <div>
    <label for="namw">Name</label>
    <br>
    <input type="text" name="name" placeholder="Enter name" id="name">
  </div>

  <div>
    <label for="email">Email</label>
    <br>
    <input type="email" name="email" placeholder="Enter email" id="email" required>
  </div>

  <div>
    <label for="password">Password</label>
    <br>
    <input type="password" name="password" placeholder="Enter password" id="password" required>
  </div>

    <div>
      <label for="confirm-password">Confirm password</label>
      <br>
      <input type="password" name="confirm-password" placeholder="Confirm password" id="confirm-password" required>
    </div>
  <button type="submit">Regisgter</button>
</form>
<span>
  Already have an account? <a href="/users/login">Login</a>
</span>